###############################################################################
#                                                                             #
#                        :::    ::: ::::    :::  ::::::::                     #
#                       :+:    :+: :+:+:   :+: :+:    :+:                     #
#                       +:+  +:+  :+:+:+  +:+ +:+                             #
#                       +#++:+   +#+ +:+ +#+ +#++:++#++                       #
#                     +#+  +#+  +#+  +#+#+#        +#+                        #
#                   #+#    #+# #+#   #+#+# #+#    #+#                         #
#                  ###    ### ###    ####  ########                           #
#                                                                             #
###############################################################################

# -- I G N O R E D  F I L E S -------------------------------------------------


# build directory
/.build

# install directory
/xns

# executables
/exec*

# build setup
/.setup

# static libraries
/*.a

# compile logs
/build/**/*.log

# object files
/build/**/*.o

# dependency files
/build/**/*.d

# desktop service store (macos)
/**/.DS_Store

# clangd cache
/.cache

# neovim logs
/.nvimlog

# compile commands database
/compile_commands.json
