
# ignore executable
xnsexec

# ignore build directory
_bld/

# ignore .env files
.env

# ignore all .a files recursively
**/*.a

# ignore all .dylib files recursively
**/*.dylib

# ignore .dSYM debug files
xfunc.dSYM/

# ignore all compile_commands.json files recursively
**/compile_commands.json

# ignore all .log files recursively
**/*.log

# ignore all .cache files recursively
**/.cache

# ignore all .DS_Store files recursively
**/.DS_Store

# ignore clang-filter
clang-filter
ccfilter
