
# ignore executable
xnsexec
xns_sh_gen

#ignore single header
xns.hpp

# ignore build directory
_bld/
build/

# ignore ninja build files
**/build.ninja

# ignore .env files
.env

# ignore all .a files recursively
**/*.a

# ignore all .dylib files recursively
**/*.dylib

# ignore all .so files recursively
**/*.so

# ignore .dSYM debug files
xfunc.dSYM/

# ignore all compile_commands.json files recursively
**/compile_commands.json

# ignore all .log files recursively
**/*.log

# ignore all .o files recursively
**/*.o

# ignore all .d files recursively
**/*.d

# ignore all .cache files recursively
**/.cache

# ignore all .DS_Store files recursively
**/.DS_Store

# ignore clang-filter
clang-filter
ccfilter
